@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

.container{
    background-color: #ffffff;
    padding: 33px 33px 40px 33px;
    width: 866px;
    margin-top: 21px;
    border-radius: 5px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-heading{
    color: #562EFF;
}

.players{
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
}

#horizontal-rule{
    border: 1px solid #D1D1D1;
    margin: 30px 0;
}
.blog img{
    width: 177px;
    height: 117px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog .blog-info{
    margin-left: 16px;
}

.blog-author{
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
}

.course-thumb img{
    width: 224px;
    height: 104px;
}

.course-info{
    display: flex;
    align-items: center;
}

.course-author{
    color: #ED6B4F;
}

.course-info .filled{
    color: #FFC014;
}
.course-info .non-filled{
    color: #AEAEAE;
}
.course-name{
    color: #1E1E1E;
}

.ratings-text{
    color: #A2A2A2;
}

.course-duration{
    background-color: #FFE4E8;
    padding: 3px 6px;
    border-radius: 50px;
    margin-left: 10px;
}

.fa-clock, .course-time{
    color: #FF4A60;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}